<%= link_to "Simple Airbnb", flats_path %>
<%= link_to "Add Flat", new_flat_path %>

<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>

<h4>A bit more about this flat...</h4>
<p><%= @flat.description %></p>

<h4>Details...</h4>
<p><%= @flat.number_of_guests %></p>
<p><%= @flat.price_per_night %></p>


